{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Circuits | CircuitSim</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">CktSim</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="{%url 'index'%}">Home</a>
              <a class="nav-link active" href="{%url 'allckts'%}">All Circuits</a>
              <!-- <a class="nav-link" href="#"></a> -->
            </nav>
          </div>
        </header>
        <main role="main" class="inner cover">
          <h1 class="cover-heading">All Circuits</h1>
          <p class="lead">Check out the available circuits.</p>
          <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal text-dark">Adder</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <!-- <li class="my-0 font-weight-normal text-dark">Half Adder</li> -->
                    <li><a href="{%url 'fulladder'%}" class="btn btn-block btn-outline-primary text-dark">Half Adder</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'halfadder'%}" class="btn btn-block btn-outline-primary text-dark">Full Adder</a></li>
                  </ul>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal text-dark">Subtractor</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'halfsubstractor'%}" class="btn btn-block btn-outline-primary text-dark">Half Subtractor</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'fullsubstractor'%}" class="btn btn-block btn-outline-primary text-dark">Full Subtractor</a></li>
                  </ul>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal text-dark">Comparator</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <!-- <li class="my-0 font-weight-normal text-dark">Half Adder</li> -->
                    <li><a href="{%url 'comp1bit'%}" class="btn btn-block btn-outline-primary text-dark">1-Bit Comparator</a></li>
                  </ul>
                </div>
              </div>
              <div class="card mb-4 box-shadow" style="min-width: 440px;">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal text-dark">Gates</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_and'%}" class="btn btn-block btn-outline-primary text-dark">And Gate</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_or'%}" class="btn btn-block btn-outline-primary text-dark">Or Gate</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_not'%}" class="btn btn-block btn-outline-primary text-dark">Not Gate</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_xor'%}" class="btn btn-block btn-outline-primary text-dark">Xor Gate</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_nand'%}" class="btn btn-block btn-outline-primary text-dark">Nand Gate</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_xnor'%}" class="btn btn-block btn-outline-primary text-dark">Xnor Gate</a></li>
                  </ul>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{%url 'gate_nor'%}" class="btn btn-block btn-outline-primary text-dark">Nor Gate</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </main>
  
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Ⓒ Circuit Simulator by Sagnik, <a href="https://rajarshi07.github.io/">Rajarshi</a> & Anupam.</p>
          </div>
        </footer>
      </div>
</body>
</html>